/**
 *
 * Author : Levi Lacoss (fishyfishfish55)
 * Github : @fishyfishfish55
 *
 * Colors
 **/

* {
    background:     #24283BFF;
    background-alt: #2E3C64FF;
    foreground:     #C0CAF5FF;
    selected:       #C0CAF5FF;
    active:         #414868FF;
    urgent:         #F7768EFF;
}
